# Clean and Merge Data

For population data, refer to [this link](https://fred.stlouisfed.org/release?rid=118&t=&et=&pageID=2).

In [41]:
import pandas as pd
aqi_df = pd.read_csv('../Processed_Data/AQI_Ratings.csv')
po_df = pd.read_csv('../data/raw-data/population/Population.csv')

In [42]:
po_df.head(5)

,DATE,Alaska,Alabama,Arkansas,Arizona,California,Colorado,Connecticut,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Virginia,Vermont,Washington,Wisconsin,West Virginia,Wyoming
0,2000,627.963,4452.173,2678.588,5160.586,33987.977,4326.921,3411.777,786.373,16047.515,...,755.844,5703.719,20944.499,2244.502,7105.817,609.618,5910.512,5373.999,1807.021,494.300
1,2001,633.714,4467.634,2691.571,5273.477,34479.458,4425.687,3432.835,795.699,16356.966,...,757.972,5750.789,21319.622,2283.715,7198.362,612.223,5985.722,5406.835,1801.481,494.657
2,2002,642.337,4480.089,2705.927,5396.255,34871.843,4490.406,3458.749,806.169,16689.370,...,760.020,5795.918,21690.325,2324.815,7286.873,615.442,6052.349,5445.162,1805.414,500.017
3,2003,648.414,4503.491,2724.816,5510.364,35253.159,4528.732,3484.336,818.003,17004.085,...,763.729,5847.812,22030.931,2360.137,7366.977,617.858,6104.115,5479.203,1812.295,503.453
4,2004,659.286,4530.729,2749.686,5652.404,35574.576,4575.013,3496.094,830.803,17415.318,...,770.396,5910.809,22394.023,2401.580,7475.575,619.920,6178.645,5514.026,1816.438,509.106

In [43]:
po_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 51 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DATE            24 non-null     int64
 1   Alaska          24 non-null     float64
 2   Alabama         24 non-null     float64
 3   Arkansas        24 non-null     float64
 4   Arizona         24 non-null     float64
 5   California      24 non-null     float64
 6   Colorado        24 non-null     float64
 7   Connecticut     24 non-null     float64
 8   Delaware        24 non-null     float64
 9   Florida         24 non-null     float64
 10  Georgia         24 non-null     float64
 11  Hawaii          24 non-null     float64
 12  Iowa            24 non-null     float64
 13  Idaho           24 non-null     float64
 14  Illinois        24 non-null     float64
 15  Indiana         24 non-null     float64
 16  Kansas          24 non-null     float64
 17  Kentucky        24 non-null     float64
 18  Louisiana       24 non-null     float64
 19  Massachusetts   24 non-null     float64
 20  Maryland        24 non-null     float64
 21  Maine           24 non-null     float64
 22  Michigan        24 non-null     float64
 23  Minnesota       24 non-null     float64
 24  Missouri        24 non-null     float64
 25  Mississippi     24 non-null     float64
 26  Montana         24 non-null     float64
 27  North Carolina  24 non-null     float64
 28  North Dakota    24 non-null     float64
 29  Nebraska        24 non-null     float64
 30  New Hampshire   24 non-null     float64
 31  New Jersey      24 non-null     float64
 32  New Mexico      24 non-null     float64
 33  Nevada          24 non-null     float64
 34  New York        24 non-null     float64
 35  Ohio            24 non-null     float64
 36  Oklahoma        24 non-null     float64
 37  Oregon          24 non-null     float64
 38  Pennsylvania    24 non-null     float64
 39  Rhode Island    24 non-null     float64
 40  South Carolina  24 non-null     float64
 41  South Dakota    24 non-null     float64
 42  Tennessee       24 non-null     float64
 43  Texas           24 non-null     float64
 44  Utah            24 non-null     float64
 45  Virginia        24 non-null     float64
 46  Vermont         24 non-null     float64
 47  Washington      24 non-null     float64
 48  Wisconsin       24 non-null     float64
 49  West Virginia   24 non-null     float64
 50  Wyoming         24 non-null     float64
dtypes: float64(50), int64(1)
memory usage: 9.7 KB

In [44]:
t_po_df = pd.melt(po_df, id_vars=["DATE"], var_name="State Name", value_name="Population")

t_po_df = t_po_df.rename(columns={"DATE": "Year"})

In [45]:
t_po_df.head(5)

   Year State Name  Population
0  2000     Alaska     627.963
1  2001     Alaska     633.714
2  2002     Alaska     642.337
3  2003     Alaska     648.414
4  2004     Alaska     659.286

In [46]:
aqi_df

,Year,State Name,Ozone Average,Carbon Average,Nitrogen Average,Sulfur Average,PM2.5 Average,PM10 Average,Ozone AQI,Carbon AQI,Nitrogen AQI,Sulfur AQI,PM2.5 AQI,PM10 AQI,Overall AQI
0,2000,Alabama,0,1.0,18,10,0.0,38.9,0,11,17,14,0,35,35
1,2000,Alaska,0,1.4,0,0,0.0,0.0,0,16,0,0,0,0,16
2,2000,Arizona,0,1.0,34,10,0.0,45.9,0,11,32,14,0,42,42
3,2000,Arkansas,0,1.2,17,8,0.0,0.0,0,14,16,11,0,0,16
4,2000,California,0,0.7,25,4,0.0,20.8,0,8,24,6,0,19,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,2023,Wisconsin,0,0.2,10,1,9.2,18.6,0,2,9,1,51,17,51
1299,2023,Wyoming,0,0.1,5,1,3.8,11.3,0,1,5,1,21,10,21
1300,2023,Puerto Rico,0,0.2,9,1,4.0,40.1,0,2,8,1,22,37,37
1301,2023,Virgin Islands,0,0.0,0,0,0.0,0.0,0,0,0,0,0,0,0
1302,2023,Country Of Mexico,0,0.0,0,0,12.6,54.4,0,0,0,0,58,50,58

In [47]:
aqi_df.columns

Index(['Year', 'State Name', 'Ozone Average', 'Carbon Average',
       'Nitrogen Average', 'Sulfur Average', 'PM2.5 Average', 'PM10 Average',
       'Ozone AQI', 'Carbon AQI', 'Nitrogen AQI', 'Sulfur AQI', 'PM2.5 AQI',
       'PM10 AQI', 'Overall AQI'],
      dtype='object')

In [48]:
t_po_df.columns

Index(['Year', 'State Name', 'Population'], dtype='object')

In [49]:
df = pd.merge(aqi_df, t_po_df, how='left', on=['State Name', 'Year'])

In [50]:
df

,Year,State Name,Ozone Average,Carbon Average,Nitrogen Average,Sulfur Average,PM2.5 Average,PM10 Average,Ozone AQI,Carbon AQI,Nitrogen AQI,Sulfur AQI,PM2.5 AQI,PM10 AQI,Overall AQI,Population
0,2000,Alabama,0,1.0,18,10,0.0,38.9,0,11,17,14,0,35,35,4452.173
1,2000,Alaska,0,1.4,0,0,0.0,0.0,0,16,0,0,0,0,16,627.963
2,2000,Arizona,0,1.0,34,10,0.0,45.9,0,11,32,14,0,42,42,5160.586
3,2000,Arkansas,0,1.2,17,8,0.0,0.0,0,14,16,11,0,0,16,2678.588
4,2000,California,0,0.7,25,4,0.0,20.8,0,8,24,6,0,19,24,33987.977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,2023,Wisconsin,0,0.2,10,1,9.2,18.6,0,2,9,1,51,17,51,5910.955
1299,2023,Wyoming,0,0.1,5,1,3.8,11.3,0,1,5,1,21,10,21,584.057
1300,2023,Puerto Rico,0,0.2,9,1,4.0,40.1,0,2,8,1,22,37,37,NaN
1301,2023,Virgin Islands,0,0.0,0,0,0.0,0.0,0,0,0,0,0,0,0,NaN
1302,2023,Country Of Mexico,0,0.0,0,0,12.6,54.4,0,0,0,0,58,50,58,NaN

In [51]:
df = df[df['Year']==2023]

In [52]:
v_reg_df = pd.read_csv('../data/raw-data/vehicle-reg/Vehicle Regisration.csv')

In [53]:
v_reg_df.columns

Index(['State', 'Electric (EV)', 'Plug-In Hybrid Electric (PHEV)',
       'Hybrid Electric (HEV)', 'Biodiesel', 'Ethanol/Flex (E85)', 'Gasoline',
       'Diesel', 'Unknown Fuel', 'Year'],
      dtype='object')

In [54]:
v_reg_df.rename(columns={'State': 'State Name'}, inplace=True)

In [55]:
v_reg_df.columns

Index(['State Name', 'Electric (EV)', 'Plug-In Hybrid Electric (PHEV)',
       'Hybrid Electric (HEV)', 'Biodiesel', 'Ethanol/Flex (E85)', 'Gasoline',
       'Diesel', 'Unknown Fuel', 'Year'],
      dtype='object')

In [56]:
v_reg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   State Name                      51 non-null     object
 1   Electric (EV)                   51 non-null     float64
 2   Plug-In Hybrid Electric (PHEV)  51 non-null     float64
 3   Hybrid Electric (HEV)           51 non-null     float64
 4   Biodiesel                       51 non-null     float64
 5   Ethanol/Flex (E85)              51 non-null     float64
 6   Gasoline                        51 non-null     float64
 7   Diesel                          51 non-null     float64
 8   Unknown Fuel                    51 non-null     float64
 9   Year                            51 non-null     int64
dtypes: float64(8), int64(1), object(1)
memory usage: 4.1+ KB

In [57]:
v_reg_df['Renewable Vehicles'] = v_reg_df['Electric (EV)'] + v_reg_df['Plug-In Hybrid Electric (PHEV)'] + v_reg_df['Hybrid Electric (HEV)'] + v_reg_df['Biodiesel'] + v_reg_df['Ethanol/Flex (E85)']
v_reg_df['Non-Renewable Vehicles'] = v_reg_df['Gasoline'] + v_reg_df['Diesel'] + v_reg_df['Unknown Fuel']

In [58]:
v_reg_df

,State Name,Electric (EV),Plug-In Hybrid Electric (PHEV),Hybrid Electric (HEV),Biodiesel,Ethanol/Flex (E85),Gasoline,Diesel,Unknown Fuel,Year,Renewable Vehicles,Non-Renewable Vehicles
0,Alabama,13000.0,5800.0,63300.0,54200.0,441200.0,4102200.0,127000.0,29000.0,2023,577500.0,4258200.0
1,Alaska,2700.0,900.0,10600.0,9600.0,46800.0,454300.0,29800.0,5100.0,2023,70600.0,489200.0
2,Arizona,89800.0,25600.0,175700.0,68600.0,437100.0,5469000.0,197700.0,64200.0,2023,796800.0,5730900.0
3,Arkansas,7100.0,3200.0,37000.0,37000.0,276700.0,2246100.0,90700.0,10300.0,2023,361000.0,2347100.0
4,California,1256600.0,410700.0,1703200.0,201600.0,1314600.0,31191900.0,735300.0,7900.0,2023,4886700.0,31935100.0
5,Colorado,90100.0,37500.0,152700.0,68100.0,334300.0,4508800.0,203400.0,46500.0,2023,682700.0,4758700.0
6,Connecticut,31600.0,18400.0,75300.0,10900.0,133600.0,2612600.0,42300.0,20900.0,2023,269800.0,2675800.0
7,Delaware,8400.0,3800.0,22900.0,5100.0,63900.0,791300.0,14200.0,5100.0,2023,104100.0,810600.0
8,District of Columbia,8100.0,3700.0,18100.0,400.0,16800.0,262500.0,1800.0,600.0,2023,47100.0,264900.0
9,Florida,254900.0,57300.0,414500.0,170500.0,1101100.0,16136500.0,351800.0,96100.0,2023,1998300.0,16584400.0
10,Georgia,92400.0,22700.0,175300.0,92500.0,719400.0,8256400.0,206300.0,76900.0,2023,1102300.0,8539600.0
11,Hawaii,25600.0,7300.0,36400.0,3400.0,37300.0,951000.0,15400.0,3700.0,2023,110000.0,970100.0
12,Idaho,8500.0,4600.0,43700.0,45900.0,132900.0,1568600.0,138600.0,31600.0,2023,235600.0,1738800.0
13,Illinois,99600.0,33400.0,285400.0,61500.0,772900.0,8560300.0,170200.0,59600.0,2023,1252800.0,8790100.0
14,Indiana,26100.0,12900.0,119100.0,56300.0,576300.0,5166200.0,156400.0,58500.0,2023,790700.0,5381100.0
15,Iowa,9000.0,6100.0,57200.0,41700.0,331300.0,2545400.0,105000.0,57500.0,2023,445300.0,2707900.0
16,Kansas,11300.0,5600.0,50400.0,27900.0,253500.0,2168600.0,87400.0,16100.0,2023,348700.0,2272100.0
17,Kentucky,11600.0,5600.0,67100.0,36900.0,361200.0,3415000.0,117600.0,24400.0,2023,482400.0,3557000.0
18,Louisiana,8200.0,4000.0,40200.0,64200.0,380100.0,3142800.0,115500.0,19100.0,2023,496700.0,3277400.0
19,Maine,7400.0,7600.0,33600.0,12000.0,104500.0,1036100.0,26900.0,7900.0,2023,165100.0,1070900.0
20,Maryland,72100.0,31300.0,168700.0,32100.0,309300.0,4327800.0,86900.0,31500.0,2023,613500.0,4446200.0
21,Massachusetts,73800.0,43800.0,187300.0,21300.0,285000.0,4791300.0,58400.0,30000.0,2023,611200.0,4879700.0
22,Michigan,50300.0,29100.0,148100.0,70400.0,873700.0,7129600.0,174500.0,49400.0,2023,1171600.0,7353500.0
23,Minnesota,37100.0,16100.0,124500.0,52700.0,516400.0,4219200.0,127900.0,24500.0,2023,746800.0,4371600.0
24,Mississippi,3600.0,2000.0,28200.0,34900.0,295200.0,2275600.0,75200.0,8500.0,2023,363900.0,2359300.0
25,Missouri,26900.0,13900.0,113900.0,70400.0,575500.0,4608600.0,178200.0,37600.0,2023,800600.0,4824400.0
26,Montana,4600.0,2500.0,21100.0,37900.0,94500.0,780700.0,69600.0,10800.0,2023,160600.0,861100.0
27,Nebraska,6900.0,3800.0,32600.0,28900.0,197100.0,1600400.0,76100.0,25300.0,2023,269300.0,1701800.0
28,Nevada,47400.0,10600.0,69600.0,27200.0,125600.0,2169300.0,85800.0,20300.0,2023,280400.0,2275400.0
29,New Hampshire,9900.0,6600.0,36800.0,13900.0,89600.0,1185300.0,29200.0,12300.0,2023,156800.0,1226800.0
30,New Jersey,134800.0,40900.0,174200.0,27800.0,392100.0,6433000.0,84600.0,36400.0,2023,769800.0,6554000.0
31,New Mexico,10300.0,4900.0,44300.0,32100.0,151600.0,1597600.0,88500.0,22900.0,2023,243200.0,1709000.0
32,New York,131300.0,92300.0,314000.0,54300.0,591100.0,9905500.0,150500.0,79100.0,2023,1183000.0,10135100.0
33,North Carolina,70200.0,23700.0,210600.0,80200.0,655000.0,7764000.0,209700.0,71700.0,2023,1039700.0,8045400.0
34,North Dakota,1000.0,800.0,8200.0,20400.0,89900.0,625300.0,44600.0,7200.0,2023,120300.0,677100.0
35,Ohio,50400.0,24000.0,199800.0,70300.0,833500.0,8881400.0,196200.0,60900.0,2023,1178000.0,9138500.0
36,Oklahoma,22800.0,33000.0,56400.0,63100.0,352400.0,3567500.0,145700.0,45000.0,2023,527700.0,3758200.0
37,Oregon,64400.0,28800.0,156900.0,55500.0,184600.0,3074300.0,217000.0,51000.0,2023,490200.0,3342300.0
38,Pennsylvania,70200.0,38900.0,245400.0,73900.0,661700.0,8886400.0,192100.0,41800.0,2023,1090100.0,9120300.0
39,Rhode Island,6400.0,5100.0,22100.0,3100.0,41900.0,782000.0,11000.0,6000.0,2023,78600.0,799000.0
40,South Carolina,20900.0,9000.0,83100.0,44600.0,404600.0,4325000.0,110100.0,44900.0,2023,562200.0,4480000.0
41,South Dakota,1700.0,1300.0,11900.0,21500.0,98800.0,718300.0,51200.0,13300.0,2023,135200.0,782800.0
42,Tennessee,33200.0,11000.0,113300.0,53100.0,509000.0,5620500.0,160700.0,37700.0,2023,719600.0,5818900.0
43,Texas,230100.0,55300.0,445100.0,460700.0,2315400.0,21392800.0,772800.0,121800.0,2023,3506600.0,22287400.0
44,Utah,40000.0,13000.0,83200.0,68500.0,185200.0,2499600.0,158000.0,26000.0,2023,389900.0,2683600.0
45,Vermont,7800.0,5700.0,20300.0,7000.0,36600.0,496000.0,14700.0,5000.0,2023,77400.0,515700.0
46,Virginia,84900.0,26800.0,229400.0,44300.0,484800.0,6670000.0,152800.0,30200.0,2023,870200.0,6853000.0
47,Washington,152100.0,41200.0,307200.0,73800.0,337700.0,5583000.0,274200.0,46700.0,2023,912000.0,5903900.0
48,West Virginia,2800.0,1800.0,22400.0,17300.0,123400.0,1281500.0,46400.0,15200.0,2023,167700.0,1343100.0
49,Wisconsin,24900.0,12500.0,123600.0,52900.0,536200.0,4604700.0,147500.0,26400.0,2023,750100.0,4778600.0
50,Wyoming,1100.0,800.0,8400.0,21200.0,57700.0,489100.0,60900.0,13700.0,2023,89200.0,563700.0

In [59]:
merged_df = pd.merge(df, v_reg_df, how='left', on=['State Name', 'Year'])

In [60]:
merged_df.head()

,Year,State Name,Ozone Average,Carbon Average,Nitrogen Average,Sulfur Average,PM2.5 Average,PM10 Average,Ozone AQI,Carbon AQI,...,Electric (EV),Plug-In Hybrid Electric (PHEV),Hybrid Electric (HEV),Biodiesel,Ethanol/Flex (E85),Gasoline,Diesel,Unknown Fuel,Renewable Vehicles,Non-Renewable Vehicles
0,2023,Alabama,0,0.2,15,2,8.4,19.9,0,2,...,13000.0,5800.0,63300.0,54200.0,441200.0,4102200.0,127000.0,29000.0,577500.0,4258200.0
1,2023,Alaska,0,0.3,0,2,4.5,11.6,0,3,...,2700.0,900.0,10600.0,9600.0,46800.0,454300.0,29800.0,5100.0,70600.0,489200.0
2,2023,Arizona,0,0.3,20,2,7.3,32.0,0,3,...,89800.0,25600.0,175700.0,68600.0,437100.0,5469000.0,197700.0,64200.0,796800.0,5730900.0
3,2023,Arkansas,0,0.4,6,1,11.0,0.0,0,5,...,7100.0,3200.0,37000.0,37000.0,276700.0,2246100.0,90700.0,10300.0,361000.0,2347100.0
4,2023,California,0,0.3,13,1,7.7,25.2,0,3,...,1256600.0,410700.0,1703200.0,201600.0,1314600.0,31191900.0,735300.0,7900.0,4886700.0,31935100.0

In [61]:
merged_df.to_csv('../Processed_Data/AQI_Final.csv', index=False)

In [62]:
#df.to_csv('../Processed_Data/AQI_Population_Ratings.csv', index=False)